@import './utilities/mixins.scss';
@import './utilities/variables';

.btn {
  &-auth {
    @include button(0 0, transparent, none, 8px);
    @include fontFamily($font-family-manrope-400, 16px);
    margin-left: 5px;
    color: $ginger;
    text-transform: uppercase;
    &:hover{
      text-decoration: underline;
    }
  }
  &-reg {
    @include button(0 0, transparent, none, 8px);
    @include fontFamily($font-family-manrope-400, 16px);
    margin-left: 5px;
    color: $ginger;
    text-transform: uppercase;
    &:hover{
      text-decoration: underline;
    }
  }
  &-enter {
    @include button(20px 20px, $fff);
    width: 60%;
    font-weight: 600;
    margin-top: 20px;
  }
  &-map {
    @include button(10px 10px, $fff, 2px solid $border, 10px);
    width: 100%;
    font-weight: 600;
    color: $dark-gray;
    background: #fcf5e3;
  }
}

.btn-tab {
  &-auth {
    @include button(20px 20px, $ginger, none, 40px);
    @include fontFamily($font-family-manrope-600, 16px);
    width: 80%;
  }
  &-reg {
    @include button(20px 20px, $ginger, none, 40px);
    width: 100%;
    font-weight: 600;
    margin: 20px 0 0 0;
  }
}