@import './utilities/mixins.scss';
@import './utilities/variables';

.btn {
  &-auth {
    @include button(10px 10px, $dark-gray);
    width: 60%;
    font-weight: 600;
  }
  &-reg {
    @include button(10px 10px, transparent, none, 8px);
    @include fontFamily($font-family-manrope-600, 16px);
    width: 60%;
  }
  &-enter {
    @include button(20px 20px, $fff);
    width: 60%;
    font-weight: 600;
    margin-top: 20px;
  }
  &-map {
    @include button(10px 10px, $fff);
    width: 100%;
    font-weight: 600;
    color: $black;
    background: #d1d1d1;
  }
}

.btn-tab {
  &-auth {
    @include button(10px 10px, transparent, none, 8px);
    @include fontFamily($font-family-manrope-600, 16px);
    width: 60%;
  }
  &-reg {
    @include button(10px 10px, $dark-gray);
    width: 60%;
    font-weight: 600;
  }
}