$fff: #ffffff;
$black: #1B1918;
$red: #FF4500;
$ginger: #f68400;
$border: #7d776a;
$grey: #707070;
$g-9D9B95: #9D9B95;
$g-7c848f: #7c848f;

$border-radius-4: 5px;
$border-radius-10: 10px;
$border-radius-125rem: 1.25rem;
$border-radius-50: 50%;

// apply LOCAL MANROPE

$font-family-manrope-main: 'Manrope Light', sans-serif;
$font-family-manrope-300: 'Manrope Light', sans-serif;
$font-family-manrope-400: 'Manrope Regular', sans-serif;
$font-family-manrope-500: 'Manrope Medium', sans-serif;
$font-family-manrope-600: 'Manrope SemiBold', sans-serif;
$font-family-manrope-700: 'Manrope Bold', sans-serif;
$font-family-manrope-800: 'Manrope ExtraBold', sans-serif;
