
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
}

body {
  background: #f5ebdc;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
}