@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
/*Подключаем BootStrap Container*/
/* EXAMPLE: class="container" or class="mobile-container"*/
@import "scss/grid/_container";
@import "scss/grid/_mobile-container";
@import "scss/buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e2e2e2;
  border: 0 none;
}

body {
  background: #3d3d3d;
  ;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
}

button, a {
  cursor: pointer;
}
